<div class="main-container">
    <div class="images">
        <div>
            <img src="../../assets/Add to Story.png" class="pics">
        </div>
        <div>
            <img src="../../assets/Tom Russo.png" class="pics">
        </div>
        <div>
            <img src="../../assets/Betty Chen.png" class="pics">
        </div>
        <div>
            <img src="../../assets/Dennis Han.png" class="pics">
        </div>
        <div>
            <img src="../../assets/Cynthia Lopez.png" class="pics">
        </div>
    </div>

    <div class="tags">
        <div class="bar">
            <img src="../../assets/Josephine.png">
            <button class="mind">What's on your mind, Josephine?</button>
        </div>
        <hr>
        <div class="tag">
            <div>
                <img src="../../assets/PhotoOrVideo.png" class="activities">
                <label>Photo/Videos</label>
            </div>
            <div>
                <img src="../../assets/Tag Friends.png" class="activities">
                <label>Tag Friends</label>
            </div>
            <div>
                <img src="../../assets/FeelingActive.png" class="activities">
                <label>Feeling/Activity</label>
            </div>
        </div>
    </div>

    <div class="food">
        <div class="Ozeri">
            <img src="../../assets/Fiona Ozeri.png">
            <label>Fiona Ozeri</label>
            <p>5 hrs . <img src="../../assets/white friends.png"></p>
            <h3>...</h3>
        </div>

        <h5>This has some great healthy recipes</h5>

        <div>
            <img src="../../assets/Eggplants.png" class="eggPlant">
        </div>
    </div>
</div>
