*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}

.container{
    align-items: center;
    
}

.bar{
    display: flex;
}

.image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 120px;
}



.inputs{
    width: 235px;
    height: 35px;
    border-radius: 20px;
    background-color: beige;
    margin-top: 5px;
    margin-left: 5px;
}

.icons{
    display: flex;
    justify-content: center;
    margin-top: -174px;
}

.black{
    width: 50px;
    height: 50px;
    margin-left: 35px;
    margin-bottom: 120px;
}

.second-icons{
    display: flex;
    justify-content: flex-end;
    margin-top: -175px;
    color: beige;
}

.blue{
    width: 50px;
    height: 50px;
    border-radius: 60px;
    margin-bottom: 220px;
    margin-left: 8px;
    
}

.josephine{
    display: flex;
}

.josephine label{
    margin-top: 12px;
    margin-left: 4px;
}