
<div class="container">
    <div class="bar">
        <div class="images">
            <img src="../../assets/Blue Facebook.png" class="image">
        </div>
        <div class="input">
            <input class="inputs" type="text" name="text" placeholder="Search Facebook">
        </div>
    </div>

    <div class="icons">
        <div class="blue-home">
            <img src="../../assets/Blue Home.png" class="black">
        </div>
        <div class="black-watch">
            <img src="../../assets/Black and White Watch.png" class="black">
        </div>
        <div class="black-home">
            <img src="../../assets/Black and White Home.png" class="black">
        </div>
        <div class="black-friend">
            <img src="../../assets/Black and White Friends.png" class="black">
        </div>
        <div class="black-G">
            <img src="../../assets/Black and White G.png" class="black">
        </div>
    </div>

    <div class="second-icons">
        <div class="josephine">
            <img src="../../assets/Josephine.png" class="blue">
            <label>Josephine</label>
        </div>
        <div class="adder">
            <img src="../../assets/Adder.png" class="blue">
        </div>
        <div class="lightning">
            <img src="../../assets/Lightning.png" class="blue">
        </div>
        <div class="bell">
            <img src="../../assets/Bell.png" class="blue">
        </div>
        <div class="arrow">
            <img src="../../assets/Down Arrow.png" class="blue">
        </div>
    </div>
</div>