<div class="main-container">
    <h3>Sponsored</h3>

    <div class="pizza">
        <div>
            <img src="../../assets/Pizza.png"  class="right-bat" >
        </div>
        <div class="paragraph">
            <h3>Lebo's Pizza</h3>
            <p>Experience the trendy pizza spot in Palo
                Alto being called the next big thing.
            </p>
            <img src="../../assets/Lebo's pizza.png" class="lebo">
        </div>
    </div>
    <hr>
    <div class="whishes">
        <h3>Birthdays</h3>
        <div class="erica">
            <div class="birthday">
            <img src="../../assets/Birthday.png"  class="right-bat">
            </div>
            <div class="right">
            <label class="others">Jessica, Erica and 2 others have
                birthdays today
            </label>
            </div>
        </div>
    </div>
    <hr>
    <div class="contact">
        <div class="details">
            <h3>Contacts</h3>
            <p>...</p>
        </div>
        <div class="dennis">
                <div class="bat">
                    <img src="../../assets/Dennis Han2.png"  class="right-bat">
                    <label class="right-bar">Dennis Han</label>
                </div>
        </div>
        <div class="jones">
                <div class="bat">
                    <img src="../../assets/Eric Jones.png"  class="right-bat">
                    <label class="right-bar">Eric Jones</label>
                </div>
        </div>
        <div class="lopez">
                <div class="bat">
                    <img src="../../assets/Cynthia Lopez2.png"  class="right-bat">
                    <label class="right-bar">Cynthia Lopez</label>
                </div>
        </div>
        <div class="lim">
                <div class="bat">
                    <img src="../../assets/Tina Lim.png"  class="right-bat">
                    <label class="right-bar">Tina Lim</label>
                </div>
        </div>
        <div class="carter">
            <div class="molly">
                <div class="bat">
                    <img src="../../assets/Molly Carter.png"  class="right-bat">
                    <label class="right-bar">Molly Carter</label>
                    <img src="../../assets/Gray Adder.png" class="gray-add">
                </div>
            </div>
        </div>
    </div>
</div>
