<h1>Sponsored</h1>

<div class="main-container">
    <div class="pizza">
        <div>
            <img src="../../assets/Pizza.png">
        </div>
        <div class="paragraph">
            <h3>Lebo's Pizza</h3>
            <p>Experience the trendy pizza spot in Palo
                Alto being called the next big thing.
            </p>
            <img src="../../assets/Lebo's pizza.png">
        </div>
    </div>
    <hr>
    <div class="whishes">
        <h1>Birthdays</h1>
        <div class="erica">
            <img src="../../assets/Birthday.png">
            <label>Jessica, Erica and 2 others have
                birthdays today
            </label>
        </div>
    </div>
    <hr>
    <div class="contact">
        <h1>Contacts</h1>
    </div>
</div>
