*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    color: beige;
}

.erica{
    display: flex;
}

.right{
    margin-left: 4px;
}

.right-bat{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-top: 1px;
}

.gray-add{
    width: 38px;
    height: 38px;
    border-radius: 50px;
    margin-left: 100px;
}

h3{
    color: beige;
}

.pizza{
    display: flex;
}

.paragraph p{
    color: beige;
}

.right-bar{
    color: beige;
    margin-left: 5px;
    margin-top: -150px;
}

.lebo{
    width: 230px;
    height: 95px;
}

.details{
    display: flex;
}

.details p{
    color: beige;
    margin-left: 180px;
}

.carter{
    display: flex;
}

.gray{
    margin-left: 185px;
}


