*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    color: beige;
}

.barz{
    display: flex;
}

.left{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 5px; 
}

.memo{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px; 
}

.left-bar{
    width: 35px;
    height: 35px;
    border: 50px;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 5px;
}

.jasper{
    width: 35px;
    height: 35px;
    border: 50px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 5px;
}

.eats{
    margin-top: 5px;
}

.short-cut{
    display: flex;
    color: beige;
    margin-left: 10px;
}

.short-cut p{
    margin-left: 238px;
}

.williams label{
    border-radius: 50px;
}

.labels{
    color: beige;
    margin-top: 10px;
    margin-left: 10px;
}

.labelz{
    color: beige;
    margin-top: 15px;
    margin-left: 10px;
}

hr{
    margin-left: 10px;
    margin-top: 10px;
}

.see-more{
    display: flex;
}

.see-more button{
    margin-top: 20px;
    width: 320px;
    height: 40px;
    border-radius: 12px;
    background-color: rgb(34, 31, 31);
    margin-left: 10px;
    color: gray;
    text-decoration: none;
    border: none;
}

.see-more p{
    margin-top: 10px;
}

.arrow{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-left: 90px;
    align-items: center;
    justify-content: center;
}

.black{
    margin-top: -35px;
}



