<div class="main-container">
    <div class="container-one">
        <div class="williams">
            <img src="../../assets/Josephine.png" class="left-bar">
            <label class="labels">Josephine Williams</label>
        </div>

        <div class="blue-watch">
            <img src="../../assets/Watch.png" class="left-bar">
            <label class="labels">Watch</label>
        </div>

        <div class="event">
            <img src="../../assets/Events.png" class="left-bar">
            <label class="labels">Events</label>
        </div>

        <div class="Friend">
            <img src="../../assets/Friends.png" class="left-bar">
            <label class="labels">Friends</label>
        </div>

        <div class="memory">
            <img src="../../assets/Memories.png" class="left-bar">
            <label class="labels">Memories</label>
        </div>

        <div class="see-more">
            <button>See More
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </div>

        <hr>
    </div>

    <div class="container-two">
        <div class="short-cut">
        <h4>Shortcuts</h4>
        <p>...</p>
        </div>

        <div class="eats">
            <img src="../../assets/Eats.jpg" class="left-bar">
            <label class="labels">Undiscovered Eats</label>
        </div>

        <div class="trips">
            <img src="../../assets/Weekend Trips.jpg" class="left-bar">
            <label class="labels">Weekend Trips</label>
        </div>

        <div class="market">
            <img src="../../assets/Jasper's Market.jpg" class="left-bar">
            <label class="labels">Jasper's Market</label>
        </div>

        <div class="red-table">
            <img src="../../assets/REDTABLETALKS_FB_Group.png" class="left-bar">
            <label class="labels">Red Table Talk Group</label>
        </div>

        <div class="memory">
            <img src="../../assets/Best Hiking trail.jpg" class="left-bar">
            <label class="labels">Best Hidden Hiking Trails</label>
        </div>

        <div class="see-more">
            <button>See More
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </div>
    </div>

</div>
